body {
	background-color: silver;
background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
linear-gradient(155deg, #d00 23px, transparent 23px),
linear-gradient(335deg, #b00 23px, transparent 23px),
linear-gradient(155deg, #d00 23px, transparent 23px);
background-size: 58px 58px;
background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}


#area {
	width: 55%;
	padding-bottom: 40px;
	margin: 0 auto;
}


p {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #474747;
	text-align: center;
	padding: 20px 0;
}


h1, h2 {
	font-family: 'Bitter', serif;
	color: #464646;
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0 30px;
}


h1 {
	font-size: 2.6em;
	border-bottom: 1px solid #eae9e9;
}


h2 {
	font-size: 2em;
}


h2 ~ p {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #425c63;
	background: #dbeaee;
	border-radius: 100px;
	padding: 25px 0;
	transition: 0.5s ease;
}


h2 ~ p:hover {
	font-weight: 900;
	color: #FFF;
	background: #559fb4;
	cursor: pointer;
}


@media all and (min-width: 500px) {

h2 ~ p:hover {
	letter-spacing: 3px;

}

}


.logo {
	padding-top: 30px;
	cursor: pointer;
	transition: 0.6s ease;
}


.logo:hover {
	opacity: 0.6;
}


a img {
	border: none;
}


footer {
	width: 100%;
	background: #464646;
	padding: 30px 0;
}


footer p {
	color: #ccc;
}

